body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://static.wikia.nocookie.net/marveldatabase/images/8/8c/Goom_%28Earth-616%29_from_Iceman_and_Angel_Vol_1_1_001.jpg/revision/latest?cb=20110328055759');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.annoying {
  height:1000px;
  background-color:rgb(188, 228, 238);font-size:36px;
  position:sticky;  
}

.invite {
  animation: myAnim 4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
  background-color:rgb(213, 64, 64);
  height:350px;
  width:580px;
  position: absolute;
      top: 50%;
      left: 30%;

}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}