body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url(mount.jpg);

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.annoying {
  height:1000px;
  background-color:rgb(200, 222, 243);font-size:36px;
  position:sticky;
}

.invite {
  animation: myAnim 4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
  background-color:rgb(255, 252, 237);
  height:350px;
  width:580px;
  position: absolute;
      top: 10%;
      left: 30%;
  border: outset;

}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}



span {
	font-size:20px;
	color:rgb(57, 57, 132);
	font-family:Georgia, 'Times New Roman', Times, serif;
}